
#panel {

    text-decoration: none;
    padding: 12px 28px;
    font-size: 13px;
    line-height: 13px;
    color: #fff;
    margin: auto;
    background: transparent;
    border-radius: 8px;
    border: 1px solid #fff;
}


#login6 {

    padding: 12px 28px;
    margin-left: 15px;
    font-size: 13px;
    line-height: 13px;
    color: #6fd6ce;
    background: #fff;
    border-radius: 8px;
    border: 1px solid #fff;
}


#span5{

    width: 100%;
    font-size: 20px;
    margin: auto;
    font-family: Arial, sans-serif;
    max-width: 375px;


}

#login3 {

    border-radius: 8px;
    margin: auto;
    -webkit-box-shadow: 0 6px 12px 0 rgba(87, 207, 177, .3);
    box-shadow: 0 6px 12px 0 rgba(87, 207, 177, .3);
    background: #57cfb1;
    color: #fff;
    text-align: right;
    font-size: 16px;
    height: 48px;
    padding: 12px 20px;

}
